<div class="bg"><form [formGroup]="loginForm" (ngSubmit)="check()" class="login-container">
    <div class="form-group">
        
        <input type="text" placeholder="Username" formControlName="username" [(ngModel)]="uname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">Username is required</div>
            <div *ngIf="f.username.invalid">Username is invalid</div>
        </div>
    </div>
    <div class="form-group">
       
        <input type="password" placeholder="passowrd" formControlName="password" [(ngModel)]="pass" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary">Login</button>
       
    </div>
</form>
</div>