.list-container{
    margin:50px;
}
.f-right{
    float:right;
}
.btn-container{
    height:40px;
}
.mt20{
    margin-top:20px;
}
.justify{
    justify-content: space-around;
}
.dropdownbtn{
    width:65%;
}
.info_table {
    border-right:1px solid black;
    border-left:1px solid black;
    border-top:1px solid black;
  }